
<% if notice %>
  <div id="notice" class="alert alert-info"><%= notice %></div>
<% end %>

<% if @tasks.size == 0 %>
  <% if flash[:success] %>
    <div class="alert alert-success"><%= flash[:success] %></div>
  <% end %>

  <div class="well well-lg">
    <h1><%= best_in_place @list, :title, :activator => '.edit-title-activator' %> <small><a class="edit-title-activator">edit me</a></small></h1>
  </div>

  <%= form_for @list, :html => { :class => 'form-horizontal' } do |f| %>
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th></th>
      <th><%= sortable 'name', 'Task' %></th>
      <th><%= sortable 'due_at', 'Due' %></th>
      <th></th>
    </tr>
    <%= f.fields_for :tasks, @tasks.new do |f| %>
      <tr class="task_row">
        <td><%= f.check_box :complete %></td>
        <td><%= f.text_field :name, placeholder: 'Enter task name' %></td>
        <td><%= f.text_field :due_at, placeholder: 'yyyy-mm-dd', class: 'datepicker' %></td>
        <td><%= link_to_remove_task "", f %></td>
      </tr>
    <% end %>
    <tr class="add_a_line_row">
      <td colspan="4"><%= link_to_add_fields 'Add task', f, :tasks %></td>
    </tr>
  </table>
  <p><%= f.submit 'Save', class: 'btn btn-primary' %></p>
  <% end %>

<% else %>

  <div class="well well-lg">
    <h1><%= best_in_place @list, :title, :activator => '.edit-title-activator' %> <small><a class="edit-title-activator">edit me</a></small></h1>
    <ul class="list-inline">
      <li>Sort by</li>
      <li><%= sortable 'name', 'Task name' %></li>
      <li><%= sortable 'due_at', 'Due date' %></li>
    </ul>
  </div>

  <%= form_for @list, :html => { :class => 'form-horizontal' } do |f| %>
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th></th>
      <th><%= sortable 'name', 'Task' %></th>
      <th><%= sortable 'due_at', 'Due' %></th>
      <th></th>
    </tr>
    <%= f.fields_for :tasks, @tasks do |builder| %>
      <%= render 'task_fields', :f => builder %>
    <% end %>
    <tr class="add_a_line_row">
      <td colspan="4"><%= link_to_add_fields 'Add task', f, :tasks %></td>
    </tr>
  </table>
  <p><%= f.submit 'Save', class: 'btn btn-primary' %></p>
  <% end %>

<% end %>

<p><%= link_to 'Back', lists_path, class: 'btn btn-default' %></p>